<!DOCTYPE html>
<html lang="en">
<head>
	<%-include('bt.ejs')%>
</head>
<body style="background:url(photo/bg.jpg);background-repeat:no-repeat;backgroung-attachment:fixed">
	<%-include('nav.ejs')%>
		<div class="container">
			<div class="row" style="margin-top: 10px">
				<%-include('lf.ejs')%>
				<div class="col-lg-6">
					<div class="jumbotron">
						<h1 class="display-4">开源软件期末大作业</h1>
						<p class="lead">190110910508 胡孟帆 19计算机2班</p>
						<hr class="my-4">
						<p>主要功能:</p>
						<p>1.用户登录注册。</p>
						<p>2.图鉴展示：植物和菜品图鉴，并显示图鉴详情且图鉴信息可由管理员添加</p>
						<p>3.用户的vip系统、用户列表、好友列表、消息列表</p>
						<p>4.好友系统：一方通过加好友给另一方发送申请信息，另一方接受后即可成为好友或拒绝添加好友</p>
						<p>5.好友聊天系统：好友之间可以通过私聊发送消息和删除消息记录</p>
						<a class="btn btn-primary btn-lg"
							href="login.ejs" role="button">去登陆</a>
					</div>
				</div>
				<%-include('lr.ejs')%>
			</div>
		</div>
		<%-include('bottom.ejs')%>
	</body>
</html>