<!DOCTYPE html>
<html>
<head>
<title>我的消息</title>
<%-include('bt.ejs')%>
</head>
<body style="background: url(photo/bg.jpg)">
	<%-include('nav.ejs')%>
	<div class="container">
		<div class="row" style="margin-top: 10px">
			<%-include('lf.ejs')%>
			<div class="col-lg-9">
				<div class="card">
					<div class="card-header">消息列表</div>
					<div class="card-body">

						<div>
							<table class="table">
								<thead>
									<tr>
										<th scope="col">头像</th>
										<th scope="col">用户名</th>
										<th scope="col">消息内容</th>
										<th scope="col">操作选择</th>
										<th scope="col" width="20%">发送时间</th>
									</tr>
								</thead>
								<tbody>
									<% for(var i = 0; i < messagelist.length; i++) { %>
										<%  if (messagelist[i].message == '请求加你为好友') { %> 
											<%  if (messagelist[i].molename == user.molename) { %> 
											<tr>
													<td><img src="upload/<%=messagelist[i].user[0].headimg%>" height=75px></td>
													<td><a href="userInfo?molename=<%=messagelist[i].friendname%>"><%=messagelist[i].friendname%></a></td>
													<td><%=messagelist[i].message%>
													
													<p><span style="color:red" id="c1<%=i%>"></span></p>
													<p><span style="color:red" id="c2<%=i%>"></span></p>
													</td>
													
													<td>
													<a type="button" class="btn btn-success" id = "btn1<%=i%>" href = "/AddFriend?molename=<%=user.molename%>&friendname=<%=messagelist[i].friendname%>">接受</a>
												
													<a type="button" class="btn btn-danger" id = "btn2<%=i%> " href = "/DeleteMessageFriend?molename=<%=user.molename%>&friendname=<%=messagelist[i].friendname%>">删除信息</a>
												
													</td>	
													<td><%=messagelist[i].sendtime%></td>
											</tr>
											<% } %>
										<% } %>
									<% } %>
									
									
								</tbody>
									
							</table>
						</div>
					</div>
					<nav aria-label="Page navigation example" style="margin-top: 20px">
						<ul class="pagination justify-content-center">
							<c:if test="${page==1}">
								<li class="page-item disabled"><a class="page-link"
									href="#"> 上一页</a></li>
							</c:if>
							<c:if test="${page!=1}">
								<li class="page-item"><a class="page-link"
									href="MyMessage?page=${page-1}"> 上一页</a></li>

							</c:if>
							<li class="page-item"><a class="page-link"
								href="MyMessage?page=${page}"> 1</a></li>
							<c:if test="${page!=mostpage}">
								<li class="page-item"><a class="page-link"
									href="MyMessage?page=${page+1}"> 下一页</a></li>
							</c:if>
							<c:if test="${page==mostpage}">
								<li class="page-item disabled"><a class="page-link"
									href="#"> 下一页</a></li>

							</c:if>
						</ul>
					</nav>
				</div>

			</div>
		</div>
	</div>
	<div class="col-lg-6">
	<div>
		<br></br>
		<br></br>
		<br></br>
		<br></br>
	</div>
	</div>
	<%-include('bottom.ejs')%>


</body>
</html>