<!DOCTYPE html>
<html>
<head>
<title>用户信息</title>
<%-include('bt.ejs')%>
</head>
<body style="background: url(photo/bg.jpg)">
	<%-include('nav.ejs')%>
	<div class="container">
		<div class="row" style="margin-top: 10px">
			<%-include('lf.ejs')%>
			<div class="col-lg-9">
				<div class="card">
					<div class="card-header">用户信息</div>
					<div class="card-body">
						<div>
							<h2>用户信息：</h2>
							<div class="row">
								<div class="col-lg-8">
									<p>昵称:<%= user.molename %></p>
									<p>性别:<%= user.sex %></p>
									<p>生日:<%= user.birth %></p>
									<p>地区:<%= user.region %></p>
									<p>特产:<%= user.spec %></p>
									<p>个人像:<%= user.headimg %></p>
									<p>注册时间:<%= user.regtime %></p>
									<p>是否管理员:<%= user.manager %></p>
								</div>
								<div class="col-lg-8">
									<p>
										个人像: <img src="upload/<%= user.headimg %>" height=250px>
									</p>
								</div>
								<div class="col-sm-3">
									<p>
										<span style="color:red" id="c1"></span>
									</p>
									<a type="button" class="btn btn-primary" id="btn1">加为好友</a>
									<script>
									var btn = document.getElementById("btn1")
									
									btn.onclick = function(){
										
										//     1.url   2.成功后的回调函数
										$.get("AddMessage",{friendname:'${user.molename}'},function(data){
											//从后台拿到最新数据
											var c1 = document.getElementById("c1")
											c1.innerHTML = data;
											
										});
									}
									</script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<%-include('bottom.ejs')%>
</body>
</html>