<!DOCTYPE html>
<html>
<head>
<title>用户列表</title>
<%-include('bt.ejs')%>
</head>
<body style="background: url(photo/bg.jpg)">
	<%-include('nav.ejs')%>
	<div class="container">
		<div class="row" style="margin-top: 10px">
			<%-include('lf.ejs')%>
			<div class="col-lg-9">
				<div class="card">
					<div class="card-header">
						用户列表--用户总数：<%=userlist.length%>
						<p style="text-align: center">
							<span style="color: red" id="c1"></span>
						</p>
					</div>
					<div class="card-body">

						<div>
							<table class="table">
								<thead>
									<tr>
										<th scope="col">头像</th>
										<th scope="col">用户名</th>
										<th scope="col">性别</th>
										<th scope="col">出生年月</th>
										<th scope="col">地区</th>
									</tr>
								</thead>
								<tbody>

									<% for(var i = 0; i < userlist.length; i++) { %>
										<tr>
											<td><img src="upload/<%=userlist[i].headimg%>" height=75px></td>
											<td><%=userlist[i].molename%></td>
											<td><%=userlist[i].sex%></td>
											<td><%=userlist[i].birth%></td>
											<td><%=userlist[i].region%></td>
											<td><a type="button" class="btn btn-success"
												href="userinfo">详情</a></td>
											<td><a type="button" class="btn btn-primary"
												id="btn<%=i%>" href="AddMessage">加为好友</a> 
												<script>
													function AddMessage(){
														var xmlhttp;
														if (window.XMLHttpRequest)
														{
															//  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
															xmlhttp=new XMLHttpRequest();
														}
														else
														{
															// IE6, IE5 浏览器执行代码
															xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
														}
														xmlhttp.onreadystatechange=function()
														{
															if (xmlhttp.readyState==4 && xmlhttp.status==200)
															{
																document.getElementById("btn<%=i%>").innerHTML=xmlhttp.responseText;
															}
															else{
																document.getElementById("btn<%=i%>").innerHTML="服务无响应";
															}
													
														}
														xmlhttp.open("Post","/AddMessage",true);
														xmlhttp.send(friendname = '<%=userlist[i].molename%>' , message = '请求加你为好友');
													}
													</script>
												</td>
											<td>
										</tr>
									<% } %>
								</tbody>
							</table>
						</div>
					</div>
					<nav aria-label="Page navigation example" style="margin-top: 20px">
						<ul class="pagination justify-content-center">
							<c:if test="${page==1}">
								<li class="page-item disabled"><a class="page-link"
									href="#"> 上一页</a></li>
							</c:if>
							<c:if test="${page!=1}">
								<li class="page-item"><a class="page-link"
									href="AllUser?page=${page-1}"> 上一页</a></li>

							</c:if>
							<li class="page-item"><a class="page-link"
								href="AllUser?page=${page}"> ${page}</a></li>
							<c:if test="${page!=mostpage}">
								<li class="page-item"><a class="page-link"
									href="AllUser?page=${page+1}"> 下一页</a></li>
							</c:if>
							<c:if test="${page==mostpage}">
								<li class="page-item disabled"><a class="page-link"
									href="#"> 下一页</a></li>

							</c:if>

						</ul>
					</nav>
				</div>

			</div>
		</div>
	</div>

	<%-include('bottom.ejs')%>


</body>
</html>