<!DOCTYPE html>
<html>
<head>
<title>用户信息</title>
<%-include('bt.ejs')%>
</head>
<body style="background: url(photo/bg.jpg)">
	<%-include('nav.ejs')%>
	<div class="container">
		<div class="row" style="margin-top: 10px">
			<%-include('lf.ejs')%>
			<div class="col-lg-9">
				<div class="card">
					<div class="card-header">用户信息</div>
					<div class="card-body">
						<div>
							<h2>用户信息：</h2>
							<div class="row">
								<div class="col-lg-8">
									<p>
										个人像: <img src="upload/<%= user.headimg %>" height=250px>
									</p>
								</div>
								<div class="col-lg-8">
									<p>昵称:<%= user.molename %></p>
									<p>性别:<%= user.sex %></p>
									<p>生日:<%= user.birth %></p>
									<p>地区:<%= user.region %></p>
									<p>特产:<%= user.spec %></p>
									<p>注册时间:<%= user.regtime %></p>
									<p>是否管理员:<%= user.manager %></p>
								</div>
								<div class="col-sm-3">
									<p>
										<span style="color:red" id="c1"></span>
									</p>
									<a type="button" class="btn btn-primary" id="btn1" onclick="AddMessage()">加为好友</a>
									<script>
										function AddMessage(){
											var xmlhttp;
											if (window.XMLHttpRequest)
											{
												//  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
												xmlhttp=new XMLHttpRequest();
											}
											else
											{
												// IE6, IE5 浏览器执行代码
												xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
											}
											xmlhttp.onreadystatechange=function()
											{
												if (xmlhttp.readyState==4 && xmlhttp.status==200)
												{
													document.getElementById("c1").innerHTML=xmlhttp.responseText;
												}
												else{
													document.getElementById("c1").innerHTML="服务无响应";
												}
										
											}
											xmlhttp.open("POST","/AddMessage",false);
											xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
											xmlhttp.send("friendname=<%= user.molename %>&message=请求加你为好友");
											// xmlhttp.send("name=smyhvae&age=27");
										}
										</script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<%-include('bottom.ejs')%>
</body>
</html>